{% extends '@main/base.html.twig' %}

{% block body %}

    <article class="container">
        <h1 class="mt-4">Hello Guest!</h1>
        <p>This is simply shop. You can insert new product, listing all added products and display specific. </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur consectetur deleniti et fugit
            ipsum itaque laboriosam libero molestias mollitia non pariatur perspiciatis provident quo rerum, sunt vel
            veritatis voluptas!</p>

        <img src="https://images.dog.ceo/breeds/brabancon/n02112706_1983.jpg" alt="random dog api" width="200" />

    </article>

{% endblock %}