{% extends '@main/base.html.twig' %}

{% block body %}

    <article class="container">
        <h1 class="mt-4">Hello Guest!</h1>
        <p>This is simply shop. TODO: description, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            dolorem exercitationem facilis illum magnam modi similique tempore. Aut, dicta et eveniet exercitationem
            officiis perspiciatis qui quisquam quod vel vitae? Ut!</p>
    </article>

{% endblock %}